//color schemes
//1
$styleNumber: '';
$colorMain: #e4880f;
$colorMain2: #708090;
$colorMain3: #2cb129;
$colorMain4: #208dcc;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;